@import "node_modules/modern-normalize/modern-normalize.css";

:root {
	--label-height: 3rem;
}

html,
body {
	height: 100%;
}

body {
	align-items: center;
	display: flex;
	justify-content: center;
}

.app {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	transition: transform 0.6s linear;
	width: 100%;
}

.app:has(#about:checked) {
	transform: translatey(calc(-50vh + 50%));
}

.app:has(#projects:checked) {
	transform: translatey(calc(-50vh + 50% - var(--label-height)));
}

.app:has(#skills:checked) {
	transform: translatey(calc(-50vh + 50% - var(--label-height) * 2));
}

.app:has(#contact:checked) {
	transform: translatey(calc(-50vh + 50% - var(--label-height) * 3));
}

label:has(input[name="section-input"]) {
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	height: var(--label-height);
	min-height: var(--label-height);
	justify-content: center;
	padding-top: calc(var(--label-height) / 2 - 0.5rem);
	/* * Purpose of padding-top is to make text vertically aligned with the center when label is collapsed and vertically aligned with the top when label is expanded  */
	position: relative;
	transition: min-height 0.6s linear;
	width: 100%;
}

label:has(input:checked) {
	min-height: 100vh;
}

label[for="about"] {
	background-color: #a3d8ff;
}

label[for="projects"] {
	background-color: #6ba4e7;
}

label[for="skills"] {
	background-color: #3d85c6;
}

label[for="contact"] {
	background-color: #235e96;
}

input {
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 0;
}
