@import "node_modules/modern-normalize/modern-normalize.css";

/** transition source: https://stackoverflow.com/questions/47798256/animate-div-to-full-screen-size-from-current-position-on-click-click-again-to-a */

:root {
	--section-height: 4rem;
}

html,
body {
	height: 100%;
}

body {
	align-items: center;
	display: flex;
	justify-content: center;
	/* overflow: hidden; */
}

.app {
	position: relative;
	/* display: block; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 0.5s ease;
	/** not sure transition is necessary */
}

section {
	box-sizing: border-box;
	cursor: pointer;
	/* display: flex;
	justify-content: center; */
	/* display: block; */
	display: flex;
	flex-direction: column;
	position: relative;
	height: var(--section-height);
	transition: all 0.75s ease;
	overflow: hidden;
	text-align: center;
	width: 100%;
	z-index: 5;
	/** not sure z-index is necessary */
}

#about-section {
	background-color: #a3d8ff;
}
#projects-section {
	background-color: #6ba4e7;
}
#skills-section {
	background-color: #3d85c6;
}
#contact-section {
	background-color: #235e96;
}

.child-expanded section {
	height: 0;
}

section.section-expanded {
	height: 100%;
}

h1 {
	/* font-size: 1rem; */
	pointer-events: none;
}

.exit-button {
	position: absolute;
	right: 1rem;
	top: 1rem;
	visibility: hidden;
}

section.section-expanded .exit-button {
	appearance: none;
	visibility: visible;
}

.section-content {
	/* border: solid red 1px; */
	/* display: none; */
	flex: 1;
	opacity: 0;
	padding: 1rem;
	transition: opacity 0.75s ease;
}

section.section-expanded .section-content {
	/* display: block; */
	opacity: 1;
}

.project {
	border: solid black 1px;
}

.project-titles-list {
	list-style: none;
	text-align: end;
}

.project h2 {
	text-align: start;
}
